.auth-wrapper {
  background-image: url(../../../assets/images/backg.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

button.sc-AxirZ.ipxTTA:focus {
    outline: none;
}

.password-eye {
  position: absolute;
  top: 20px;
  right: 5px;
  cursor: pointer;
}
