
/* Inline #28 | http://localhost:3000/propmeta/properties/:id/rentpayments#! */

.MuiToolbar-root {
  background: #F4F7FA;
}


/* Inline #13 | http://localhost:3000/propmeta/properties/:id/rentpayments#! */

.MuiTableRow-root {
  background: #F4F7FA;
}

/* Inline #31 | http://localhost:3000/propmeta/properties/:id/rentpayments#! */

.MUIDataTableSelectCell{
  /* background-color: #fff; */
  background-color: #F4F7FA;
}

.MUIDataTableSelectCell-fixedHeaderCommon-137 {
  /* background-color: #fff; */
  background-color: #F4F7FA;
}


/* Inline #28 | http://localhost:3000/propmeta/properties/:id/rentpayments#! */

.MuiToolbar-root {
  background: #F4F7FA;
}

/* Inline #35 | http://localhost:3000/propmeta/properties/:id/rentpayments#! */

.MUIDataTableHeadCell-fixedHeaderCommon-172 {
  /* background-color: #fff; */
  background-color: #F4F7FA;
}
