.ModalContent {
    position: relative;
    border-radius: 20px;
}

.btnAssign{
    position: relative;
    border-radius: 20px;
    background-color: #446E7B;
    width: 130px;
    right: 139px;
    border: none;
    text-align: center;
}

.btnAssign:hover {
    background-color: #446E7B;
    border-color: black;
}

.ant-drawer-content-wrapper{
position: absolute;
width: 849px;
height: 1024px;
left: 591px;
top: 0px;
background: #F7F8F9;
border-radius: 0px;
color: black;
}
